.cake-order-body {
    margin: -8px;
    margin-top: 20px;
}

.cake-order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cake-order-item {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.cake-order-list-card img {
    width: 200px;
    height: 200px;
}

.cake-order-list {
    display: flex;
    flex-direction: column;

}

.cake-order-list-card {
    margin: 10px;
}

.cake-order-list-card-image {
    display: flex;
    flex-direction: row;
}

.cake-order-list-card-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    flex-wrap: wrap;
    padding: 20px;
}