.cake-header-links-title {
    text-align: center;
}

.cake-header-links-content li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

.cake-header-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cake-header-links a {
    text-decoration: none;
    color: black;
}

.cake-header-links a:hover {
    color: red;
    border-bottom: 2px solid black;
}