.cake-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cake-card {
    border: 1px solid black;
    flex-grow: 1;
    max-width: 300px;
    margin: 20px;
}
.cake-card img {
    width: 100%;
    height: 200px;
}

.cake-header li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

.cake-header-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cake-header-links a {
    text-decoration: none;
}

.cake-header-links a:hover {
    color: red;
}

.cake-container h1 {
    text-align: center;
}
.cake-card-overlay {
    display: flex;
    flex-direction: row;
}
.cake-card a{
    text-decoration: none;
}