.home-header {
    background-color: gray;
    text-align: center;
    list-style-type: none;
}

.home-header a {
    color: blue;
    /* outline: none; 
    border-bottom: none; */
    text-decoration: none;
}

.home-header a:hover {
    color: red;
}

.home-container {
    text-align: center;
}