.portfolio-home-body {
    background-color: red;
    margin: -8px;
    /*
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
    /*
    display: flex; /* Use flexbox to align child elements */
}

.portfolio-home-container {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
}

.portfolio-home-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #2E2C2F;
    color: white;
    height: 100%;
    min-height: 100vh;
    /* Stretch to the full height of the viewport */
}

.portfolio-home-content-container {
    flex: 4;
    background-color: #f4f4f4;
}

.portfolio-home-content-pic {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-home-links-title {
    text-align: center;
}

.portfolio-home-links-links {
    margin: 30px;
}

.portfolio-home-links-links ul {
    list-style-type: none;
}

.portfolio-home-links-links a {
    margin: 10px 0;
    font-size: 70px;
    color: #729B79;
    text-decoration: none;
}

.portfolio-home-links-links a:hover {
    color: #BACDB0;
    border-bottom: 3px solid #BACDB0;
}


.portfolio-home-content-container {
    background-color: #475B63;
    color: #F3E8EE;
}






.portfolio-home-links-footer {
    text-align: center;
    /* Center the footer text */
    margin-top: 20px;
    /* Optional: Add spacing above the footer */
}

.portfolio-about-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}